link(href="index.css", rel="stylesheet")

h1 Sliding Blocks Puzzle
p Press the start button, then click on the tiles to try solving the puzzle and recreating the original picture

.start start

mixin row(n)
	- var n = n * 3
	.row
		img.col(id='cell' + n, class=['pic' + n], src='images/flower' + (n++) + '.png')
		img.col(id='cell' + n, class=['pic' + n], src='images/flower' + (n++) + '.png')
		img.col(id='cell' + n, class=['pic' + n], src='images/flower' + (n++) + '.png')

.grid
	+row(0)
	+row(1)
	+row(2)

script(src="index.js")
