$smallSize: 7rem;
$largeSize: $smallSize + 2rem;
$columns: 3;
$startColour: rgba(200, 100, 100, 1);

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

html {
	background-color: rgba(230, 230, 230, 1)
}

body {
	font-family: sans-serif;
	text-align: center;
	margin: 0 auto;
	padding: 1rem;
}

.buttons {
	.button {
		background-color: $startColour;
		width: auto;
		height: auto;
		padding: 0.7rem 1.8rem;
		color: white;
		display: inline-block;
		cursor: pointer;
		margin-bottom: 1rem;
		@include border-radius(0.5rem);
	}

	.button:hover {
		background-color: darken($startColour, 10%);
	}
}

.puzzle {
	#hint {
		margin-bottom: 1rem;
		display: none;
	}
	#grid {
		max-width: $smallSize * $columns;
		margin: 0 auto;
		.row {
			width: 100%;
			height: $smallSize;
			font-size: 0;
			.col {
				width: 33%;
				height: 100%;
				display: inline-block;
				cursor: pointer;
			}
		}
	}
}

.github {
	text-decoration: none;
	margin-top: 1rem;
	display: inline-block;
	background-image: url("images/github.png");
	width: 32px;
	height: 32px;
}

.github:hover {
	background-color: white;
	@include border-radius(4rem);
}

@media (min-width: 600px) {
	.puzzle #grid {
		max-width: $largeSize * $columns;
		.row {
			height: $largeSize
		}
	}
}
