link(href="index.css", rel="stylesheet")

h1 Sliding Blocks Puzzle
p#instructions Press the shuffle button to start the puzzle

.buttons
	#shuffleButton.button shuffle
	#hintButton.button show hint
	#changeButton.button change

.puzzle
	img#hint(src='images/flower.png')

	mixin row(n)
		- var n = n * 3
		.row
			img.col(id='cell' + n, class=['pic' + n], src='images/flower' + (n++) + '.png')
			img.col(id='cell' + n, class=['pic' + n], src='images/flower' + (n++) + '.png')
			img.col(id='cell' + n, class=['pic' + n], src='images/flower' + (n++) + '.png')

	#grid
		+row(0)
		+row(1)
		+row(2)

a.github(href='https://www.github.com/ryansmith94/SlidingBlocks')

script(src="index.js")
